{% load static %}

<section id="contacto" class="bg-[#0b2f63] py-12">
  <div class="mx-auto max-w-[1100px] px-6 text-white">

    <!-- TÍTULO -->
    <h2 class="text-center text-lg font-semibold mb-8">
      Informes y Contactos
    </h2>

    <!-- CONTENIDO -->
    <div class="grid md:grid-cols-2 gap-8">

      <!-- BLOQUE INFORMES -->
      <div class="flex items-start gap-4 bg-white/10 rounded-xl p-6">
        <img src="{% static 'img/pagos/oficina.png' %}" class="w-18 h-32">
        <div>
          <h3 class="font-semibold mb-2">Central de Informes</h3>
          <p class="text-sm leading-relaxed">
            Para mayor información sobre el proceso de admisión,
            requisitos y cronograma, comunícate a través de nuestros
            canales oficiales.
          </p>
        </div>
      </div>

      <!-- BLOQUE CONTACTOS -->
      <div class="bg-white/10 rounded-xl p-6 space-y-4">

        <div class="flex items-center gap-4">

          <span class="text-sm font-semibold">📞 999 285 834</span>
            <span class="text-sm font-semibold">📞 954 168 298</span>
        </div>

        <div class="flex items-center gap-4">

          <span class="text-sm font-semibold">📞 947 664 262</span>
            <span class="text-sm font-semibold">📞 996 928 127</span>
        </div>

        <div class="flex items-center gap-4">

          <span class="text-sm font-semibold">✉ admision@iestparib.edu.pe</span>
        </div>

        <div class="flex items-center gap-4">

          <span class="text-sm font-semibold">
            Oficina de Admisión – Ichuña - Calla Tacna S/N
          </span>
        </div>

      </div>

    </div>
  </div>
</section>